.header {
    @extend %center-content;
    flex-direction: column;
    padding: 6em 0;
    gap: 1.5em;

    p {
        width: 49.5rem;
        padding-top: .75rem;
        text-align: center;
    }
}