.metrics-container{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-bottom: 6em;
}

.metrics-item {
    width: 17.5em;
    height: max-content;

    span{
        display: block;
        font-size: 3.75em;
        line-height: 1.2em;
        letter-spacing: -.05rem;
        margin-top: .2em;
    }
    
    h3{
        font-size: 1.125em;
        line-height: 1.5em;
        margin-top: .67em;
        letter-spacing: 0;
    }
    
    p{
        font-size: 1em;
        line-height: 1.5em;
        margin-top: .5em;
    }
}