.nav-bar {
    @extend %center-content;
    width: auto;
    height: 5em;
}

.nav-bar__container {
    @extend %center-content;
    max-width: 76em;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 0 2em;
}

.nav-bar__content {
    display: flex;
    gap: 2em;
    
    a {
        color: $color-gray-500;
        padding: .25em 0;
    }
}

.nav-bar__logo { width: 8.875em }

.nav-bar__navegation-actions {
    display: flex;
    gap: .75em;

    button {
        border: none;
        padding: .75em 1.15em;
    }
}

.nav-bar__login {
    color: $color-gray-500;
    background-color: white;
}

.nav-bar__sign-in {
    color: $color-gray-200;
    background-color: $color-red;
    border-radius: .5em;
}