%center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

%center-content-column {
    @extend %center-content;
    flex-direction: column;
}

%btn-pattern {
    border: none;
    padding: .75em 1.25em;
}